Django
djangorestframework
djangorestframework-simplejwt
drf-spectacular
psycopg2-binary
django-redis
celery
redis
channels
channels-redis
django-storages
boto3
pillow
cryptography
firebase-admin
python-decouple
django-cors-headers
python-dotenv
daphne
whitenoise
gunicorn
uvicorn